/**
 *
 * index.css
 *
 */


/*----------  General Universal Stylings  ----------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: #f7f7f7;
}
#stream-section {
    position: relative;
    display: block;
    margin: 30px auto;
    border: 1px solid #000;
    width: 50%;
    height: auto;
}

/*=====================================
=            STREAM HEADER            =
=====================================*/

.stream-header {
    margin-top: 25px;
    padding: 25px 35px;
    border-bottom: 1px solid #000;
}
.search-input {
    padding: 3px;
    font-size: 13px;
    font-style: italic;
}
.search-button {
    padding: 5px 10px;
}

/*===================================
=            STREAM BODY            =
===================================*/

.stream-body {
    padding: 0 10px;
}
.stream-total {
    font-size: 12px;
    margin-top: 5px;
}
#stream-list {
    list-style-type: none;
    padding: 10px;
}
.stream-item {
    position: relative;
    margin: 10px 0;
}
.stream-section {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.stream-title {
    margin-bottom: 10px;
}
.stream-game-name,
.stream-description {
    margin: 5px;
    font-size: 14px;
}

/*=====  End of index.css  ======*/
