/**
 *
 * media-query.css
 *
 */

@media only screen and (max-device-width: 480px) {
    /*----------  General Universal Stylings  ----------*/
    #stream-section {
        width: 90%;
    }
    /*===================================
    =            STREAM BODY            =
    ===================================*/
    .stream-content {
        text-align: center;
    }
    .stream-section {
        width: 100%;
        margin: 0;
    }
    .stream-thumbnail {
        width: 240px;
        height: 135px;
    }
}

/*=====  End of media-query.css  ======*/
