/**
 *
 * media-query.css
 *
 */

/* Media query for mobile devices (**EXTRA-SMALL**) */
@media only screen and (max-device-width: 320px) {

    /*----------  General Universal Stylings  ----------*/

    #stream-section {
        width: 95%;
    }

    /*=====================================
    =            STREAM HEADER            =
    =====================================*/

    .stream-header {
        text-align: center;
    }
    #search-button {
        margin-top: 10px;
    }

    /*===================================
    =            STREAM BODY            =
    ===================================*/

    .stream-content {
        text-align: center;
    }
    .stream-section {
        width: 100%;
        margin: 0;
    }
    .stream-thumbnail {
        width: 240px;
        height: 135px;
    }

}

/* Media query for mobile devices (**SMALL**) */
@media only screen and (min-device-width: 321px) and (max-device-width: 480px) {

    /*----------  General Universal Stylings  ----------*/

    #stream-section {
        width: 90%;
    }

    /*===================================
    =            STREAM BODY            =
    ===================================*/

    .stream-content {
        text-align: center;
    }
    .stream-section {
        width: 100%;
        margin: 0;
    }
    .stream-thumbnail {
        width: 240px;
        height: 135px;
    }
}

/* Media query for mobile devices (**MEDIUM**) */
@media only screen and (min-device-width: 481px) and (max-device-width: 930px) {

    /*----------  General Universal Stylings  ----------*/

    #stream-section {
        width: 90%;
    }
}

/*=====  End of media-query.css  ======*/
